PORT=5000
DATABASE=mongodb+srv://<username>:<password>@cluster0.jplk20h.mongodb.net/freelanster?retryWrites=true&w=majority
SECRET_KEY=your_jwt_secret_key_change_in_production_2026
BASE_URL=http://localhost:3000
NODE_ENV=development
